node_modules
dist
.env
.env.local
.env.*.local
logs
*.log
config/database/reset-db.ts
todo-tasks.md
config/database/seed.ts
config/database/badagry_backend.code-workspace.json
.DS_Store
*.swp
*.swo
*~
